// * Максимальная ширина макета
$container-width: 1790;

:root {
	// * Fonts
	--font-family: 'Radio Canada', sans-serif;

	// * Colors
	--dark-color: #4f4f4f;
	--light-color: #fafafa;
	--white-color: #fafafa;
	--bg-color: #e27d5f;
	--accent-color: #39b7ff;
	--second-color: #0a8ed9;
	--footer-bg: #cdedff;
}
