// * Максимальная ширина макета
$container-width: 1790;

:root {
	// * Fonts
	--font-family: 'Radio Canada', sans-serif;

	// * Colors
	--dark-color: #000;
	--light-color: #fff;
	--bg-color: #e27d5f;
	--accent-color: #9fd4ff;
}
