.hero {
	&__title {
		@include adaptive-font(94, 36);
		margin: 0;
		margin-bottom: 20px;
		font-weight: 500;
		text-align: center;

		@media (max-width: 768px) {
			margin-bottom: 5px;
		}
	}

	&__text {
		@include adaptive-font(44, 18);
		margin: 0 auto;
		margin-bottom: 60px;
		max-width: 860px;
		font-weight: 400;
		text-align: center;

		@media (max-width: 768px) {
			margin-bottom: 35px;
		}
	}

	&-images {
		display: flex;
		gap: 25px;
		justify-content: center;

		&__item:last-child {
			padding-top: 85px;
		}

		@media (max-width: 768px) {
			gap: 10px;
		}
	}
}
