.hero {
	&__title {
		margin: 0;
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 94px;
		text-align: center;
	}

	&__text {
		margin: 0 auto;
		margin-bottom: 60px;
		max-width: 860px;
		font-weight: 400;
		font-size: 44px;
		text-align: center;
	}

	&__images {
		display: flex;
		gap: 25px;
		justify-content: center;

		img {
			object-fit: none;

			&:last-child {
				padding-top: 85px;
			}
		}
	}
}
